.App {
  text-align: center;
}
.title {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 50px;
  color: pink;
  background-color: cadetblue;
}
.btn {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 12px 20px;
  color: purple;
}
.cont {
  margin-top: 30px;
}
